<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-left">
      <%= link_to root_path do %>
        <i class="fa-solid fa-chevron-left fa-2x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="height: 200px; border: 10px solid #c0c0c0;">
        <div class="card-body d-flex align-items-center">
          <h1 class="mx-auto">ジャッジングを楽しもう！</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 mx-auto">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="border: 10px solid #c0c0c0;">
        <div class="card-body text-center">
          <h3>ジャッジングとは？</h3>
          <p class="text-left">
            「ジャッジング」は、お笑い-１グランプリ（架空の賞レース）の審査や評価を共有するためのコミュニティサイトです！<br>
            審査を行ったり、みんなの感想をみたりして、お笑いに関する楽しい体験を共有しましょう。<br>
            笑いを通じてコミュニケーションを深め、お互いに刺激を受けながら、お笑いの世界をさらに楽しんでいただけます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>