<h1>ジャッジングを楽しもう！</h1>
<h2>ジャッジングとは？</h2>
<p>
  「ジャッジング」は、お笑い-１グランプリの審査や評価を共有するためのコミュニティサイトです！<br>
  審査を行ったり、みんなの感想をみたりして、お笑いに関する楽しい体験を共有しましょう。<br>
  笑いを通じてコミュニケーションを深め、お互いに刺激を受けながら、お笑いの世界をさらに楽しんでいただけます。
</p>