
<h1>審査員になりきろう！！</h1>
<%= link_to new_judge_path, class:"btn btn-dark" do %>審査する<% end %> 
<%= link_to new_judge_path, class:"btn btn-dark" do %>審査を見る<% end %> 

<%= link_to about_path do %>
  <i class="far fa-question-circle"></i><p>ジャッジングについて</p>
<% end %>


