<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-left">
      <%= link_to  histories_path do %>
        <i class="fa-solid fa-chevron-left fa-2x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 mx-auto text-center">
      <div class="card shadow-lg p-3 mb-5 pb-5 bg-body-tertiary rounded">
        <div class="card-header">
          <h2><%= @history.year %> 年のファイナリスト一覧</h2>
        </div>
        <div class="row">
          <% @comedians.each do |comedian| %>
            <div class="col-md-4 col-6">
              <span><%= link_to comedian.name, comedian_judge_path(comedian.id), class: "btn btn-dark mt-4", style: "width: 100%" %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



  