<div class="container mt-5">
  <div class="row">
    <div class="col-md-7 mx-auto text-center">
      <div class="card shadow-lg p-3 mb-5 pb-5 bg-body-tertiary rounded">
        <div class="card-header">
          <h2>History</h2>
        </div>
        <% @histories.each_slice(3) do |histories| %>
          <div class="row">
            <% histories.each do |history| %>
              <div class="col">
                 <span><%= link_to history.year, comedians_history_path(history.id), class: "btn btn-dark mt-4", style: "width: 100px" %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
