@use '~bootstrap/scss/bootstrap';

select option[value=""] {
  display: none;
}


 .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.large-image {
  width: 150px; 
  height: auto; 
}

  
.main-visual {
  background-image: url('/assets/images/orenge0124.png');
  background-size: covers;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/assets/images/orenge0124.png')
}

.footerFixed {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  position: relative; 
}

