<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <div>
      <%= image_tag user.get_image %>
      <%= user.name %>
      <% if user.is_active? %>
				<span class="text-active">有効</span>	
			<% else %>
				<span class="text-invalid">利用停止中</span>
			<% end %>
  </div>
<% end %>
