<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <div>
    <%= link_to admin_user_path(user.id) do %>
      <%= image_tag user.get_image %>
      <%= user.name %>
    <% end %>
    <% if user.is_active == false %>
      <span class="text-danger font-weight-bold">利用停止</span>
    <% end %>
  </div>
<% end %>