<div class="nested-fields">
  <div class="field">

    <%= f.label :name, 'ファイナリスト名' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= link_to_remove_association "削除", f %>
  </div>
  <hr>
</div>

