<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <%= form_with model: @history, url: admin_finalist_path(@history.id), method: :patch, local: true do |f| %>
          <div class="card-header">
            <div class="row">
              <div class="col-3">
                <%= link_to admin_finalist_path(@history), class: 'btn btn-link text-left' do %>
                  <h5>キャンセル</h5>
                <% end %>
              </div>
              <div class="col-6 mx-auto">
                <h4>投稿を編集</h4>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
          <div class="card-body">
            <%= render 'public/judges/error_message', hoge: @history %>
            <%= form_with model: @history , url: admin_finalist_path, method: :patch do |h| %>
              <% render 'admin/finalists/history_form', h: h %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
  
