<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h2><%= @history.year %>年のファイナリスト</h2>
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-header">
          <%= link_to edit_admin_finalist_path(@history.id) do %>
            <div class="text-right">
              <h5>ファイナリストを編集する<i class="fas fa-chevron-circle-right"></i></h5>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="row">
            <% @history.comedians.each.with_index(1) do |comedian, n| %>
              <div class="col-5"><h5 class="text-left"><%= "#{n}組目" %> <%= comedian.name %></h5></div>
            <% end %>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
