<% if @user=current_user %>
 <div class="fixed-comment-form">
   <div class="card", style="height:40px">
    <%= form_with model: [judge, judge_comment], local: false do |f| %>
      <div class="row">
        <div class="col-md-9">
          <%= f.text_area :comment, rows: '5', placeholder: "コメントを追加", class: 'form-control', style: 'width: 100%; height: 40px;' %>
        </div>
        <div class="col-md-3">
          <%= f.submit "送信する", class: 'btn btn-dark btn-block', style: 'width: 100%; height: 40px;' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="card">
    <div class="card-body text-center mt-3">
      <p>コメントをするためには<%= link_to "ログイン", new_user_session_path %>が必要です</p>
    </div>
  </div>
 </div>
<% end %>
