<!--if current_userの場合以下を表示-->
<div class="card", style="height:40px">
  <%= form_with model: [judge, judge_comment], local: false do |f| %>
    <div class="row">
      <div class="col-md-9">
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを追加", class: 'form-control', style: 'width: 100%; height: 40px;' %>
      </div>
      <div class="col-md-3">
        <%= f.submit "送信する", class: 'btn btn-dark btn-block', style: 'width: 100%; height: 40px;' %>
      </div>
    </div>
  <% end %>
</div>
<!--else-->
<!--ログインしてくださいボタン-->